.container_Login {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .modal_forgotPassword {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 400px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    text-align: center;

    .text {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .buttonPassword {
    margin-top: 20px;

    .buttonSubmit {
      width: 100px;
      margin-left: 15px;
    }

    .buttonBack {
      width: 100px;
      font-weight: 600;
      color: #636e72;
      border: 1px solid #636e72;

      &:hover {
        color: #2d3436;
        border: 1px solid #2d3436;
      }
    }
  }
}
