.about-container {
  width: 100%;
  height: 1000px;
  display: flex;
  transform: translateY(120px);
  background-color: #fff;

  .about-left {
    width: 20%;
  }

  .about-content {
    width: 60%;

    .about-title {
      color: #1e3799;
      width: 100%;
      height: auto;
      margin-left: 50px;
      margin-top: 20px;
    }

    .about-logo {
      position: relative;
      width: 100%;
      height: 300px;

      .about-logo-color {
        position: absolute;
        width: 300px;
        height: 250px;
        background-color: #b2bec3;
        margin-top: 50px;
        margin-left: 200px;
        letter-spacing: 12px;

        p {
          position: absolute;
          color: #000;
          font-size: 50px;
          top: 85px;
          left: 165px;
          font-weight: 600;
        }
      }

      img {
        width: 100px;
        height: 150px;
      }

      .about-logo-anh1 {
        position: absolute;
        left: 450px;
      }

      .about-logo-anh2 {
        position: absolute;
        left: 150px;
        top: 200px;
      }

      .about-logo-anh3 {
        position: absolute;
        left: 150px;
      }
      .about-logo-anh4 {
        position: absolute;
        left: 450px;
        top: 200px;
      }
    }

    .about-text {
      margin-top: 50px;
      font-size: 20px;
      color: #3249a3;
      line-height: 40px;
      text-align: justify;

      .text-application {
        color: #a8afb0;
        &::after {
          content: "";
          height: 3px;
          width: 43px;
          background: #bec7c8;
          position: absolute;
          left: 325px;
          bottom: 550px;
        }
      }

      .text-application1 {
        color: #a8afb0;
      }
      .text-application2 {
        color: #00a78e;
      }
    }
  }

  .about-right {
    width: 20%;
  }
}
