.paymentOrders-container {
  width: 100%;
  height: 100vh;
  .container_paymentOrders_intro {
    width: 100%;
    height: 40px;
    transition: 0.5s all linear;
    overflow: hidden;
    background-color: black;

    .container_paymentOrders_intro_1 {
      color: white;
      align-items: center;
      width: 75%;
      display: flex;
      justify-content: space-between;
      height: 40px;
      margin-left: 12.5%;

      .container_paymentOrders_intro_1_contact {
        // transform: translateY(0px);
        i {
          transform: translateY(2px);

          padding-bottom: 0;
          font-size: 18px;
          cursor: pointer;
        }

        .bxl-instagram:hover {
          border-radius: 3px;

          background: rgb(249, 237, 50);
          background: linear-gradient(
            50deg,
            rgba(249, 237, 50, 1) 0%,
            rgba(238, 42, 123, 1) 49%,
            rgba(0, 42, 255, 1) 100%
          );
        }

        .bxl-skype:hover {
          border-radius: 3px;
          background-color: #0984e3;
        }

        .bxl-github:hover {
          border-radius: 3px;
          color: #000;
          background-color: #fff;
        }

        .bxl-facebook:hover {
          border-radius: 3px;

          background-color: #00acee;
        }

        span {
          margin-left: 12px;
          align-items: center;
        }
      }
    }
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;

    .image {
      width: 60px;
      height: 60px;
      margin-top: 25px;
      margin-left: 320px;

      img {
        width: 100%;
      }
    }

    .flag {
      width: 50px;
      height: 30px;
      display: flex;
      margin-right: 350px;
      align-items: center;
      margin-top: 40px;

      img {
        width: 50px;
        height: 30px;
        padding: 5px;
      }
    }
  }

  .paymentOrders-main {
    width: 60%;
    margin: 0 auto;
    height: 500px;
    border: 1px dotted black;
    border-radius: 2px;
    transform: translateY(10px);

    .paymentOrders-content {
      width: 90%;
      height: 30px;
      margin: 20px auto;
      padding: 3px;
      font-size: 14px;
      text-align: center;
      background-color: #82ccdd;
      color: #000;
      border-radius: 3px;

      .paymentOrders-input {
        width: 50%;
        margin: 0 auto;

        input {
          width: 100%;
          margin-top: 20px;
          outline: none;
          border: 1px solid black;
          padding: 5px;
          border-radius: 3px;
        }
      }

      .lable-text {
        width: 50%;
        text-align: left;
        padding: 10px 0;

        i {
          margin-left: 10px;
          color: #0984e3;
          font-size: 16px;
        }
      }

      .paymentOrders-button {
        width: 50%;
        margin: 0 auto;

        button {
          width: 100%;
          margin: 5px 0;
          padding: 5px;
          border-radius: 5px;
          font-weight: 700;

          border: none;
        }
        button:nth-child(1) {
          color: #0984e3;
          background-color: transparent;
          border: 1px solid #0984e3;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
            rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          &:hover {
            color: white;
            background-color: #0984e3;
            border: 1px solid #0984e3;
          }
        }
        button:nth-child(3) {
          color: #000;
          background-color: white;
          border: 1px solid #636e72;
          box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
            rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
          &:hover {
            color: #fff;
            background-color: #636e72;
          }
        }
      }
    }
  }

  .loader-payments {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
    .loader-payments_two {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      place-items: center;
      #PAYING {
        margin-top: 5px;
        color: #fff;
        font-size: 18px;
      }
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    // position: relative;
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
